/*body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}*/

.logo {
	float:right;
	margin-top: 12px;
}
.content-heading {
	float:left;
	margin-top: -9px;
	margin-bottom: 10px;
}